/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 65px 0;
}

/* Header Styles */
header {
    background-color: #663300;
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-content h1 {
    margin: 0;
}

.header-content .user-info,
.header-content .auth-links {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 1rem;
}

.logout {
    background-color: #663300;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #4a2900;
}

.auth-links a {
    margin-left: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.auth-links a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #663300;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

/* Navigation Styles */
nav {
    width: 180px;
    background-color: #80370d;
    position: fixed;
    top: 64px;
    bottom: 0;
    padding: 2rem 0;
    z-index: 999;
    overflow-y: auto;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 1rem;
}

.nav-card {
    background-color: #5e2208;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-card:hover,
.nav-card.active {
    background-color: #80370d;
    transform: scale(1.05);
}

/* General Layout */
.main-container {
    margin-left: 160px; /* Matches the width of the side navigation */
    padding: 20px;
    min-height: calc(100vh - 128px); /* Adjusts the height to account for the fixed header and footer */
}




.dashboard-container {
    margin-left: 180px;
    padding: 20px;
}

/* Card Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.card {
    background-color: #5e2208;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    max-width: 200px;
    transition: background-color 0.3s, transform 0.3s;
}

.card:hover {
    background-color: #4e2208;
    transform: scale(1.05);
}

.card h3 {
    margin-bottom: 0.5rem;
}

/* Financial Status Styles */
.financial-status {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.financial-status h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.financial-status h3 {
    margin: 1.5rem 0 0.5rem;
    font-size: 1.2rem;
    color: #666;
}

.financial-status .deficit {
    color: #ff4d4d;
    font-weight: bold;
}

.financial-status .surplus {
    color: #007bff;
    font-weight: bold;
}

/* Progress Bar */
.progress {
    height: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #663300;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
}

/* Download Button */
.download-button {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #663300;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-button:hover {
    background-color: #4a2900;
}

.download-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

//* Style for all forms */
.form-margin {
    margin-left: 180px;
}

/* Form Card Styles */
.form-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f8f2ec;
    border: 1px solid #744133;
}

/* Label styles for all forms */
.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #744133;
}

/* Enhanced form control styles */
.form-control {
    margin-top: 5px;
    border: 1px solid #744133;
    border-radius: 4px;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    min-height: 40px;
}


/* Primary button styles */
.btn-primary {
    margin-top: 15px;
    background-color: #744133;
    border-color: #744133;
    color: #ffffff;
}

/* Applying margin to forms */
form {
    margin-left: 100px; /* Ensure all forms have the left margin */
}

/* Card Styles - Optional if using cards for forms */
.card {
    background-color: #5e2208;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto; /* Center the card if used */
}


/* Table Styles */
.list-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.list-table th,
.list-table td {
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.list-table th {
    background-color: #663300;
    color: #fff;
    font-weight: bold;
}

.list-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.list-table tr:hover {
    background-color: #f1f1f1;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .main-container,
    .table-responsive {
        margin-left: 0; /* Remove the margin on smaller screens when the nav might collapse */
        padding: 16px;
    }
}

