{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="dashboard-container">
    <div class="card-container">
        <a href="{% url 'income_list' %}" class="card card-blue">
            <h3>Total Income</h3>
            <p>KES {{ total_income }}</p>
        </a>
        <a href="{% url 'investment_list' %}" class="card card-light-blue">
            <h3>Total Investments</h3>
            <p>KES {{ total_investments }}</p>
        </a>
        <a href="{% url 'expense_list' %}" class="card card-dark-blue">
            <h3>Total Expenses</h3>
            <p>KES {{ total_expenses }}</p>
        </a>
        <a href="{% url 'debt_list' %}" class="card card-mid-blue">
            <h3>Total Debts</h3>
            <p>KES {{ total_debts }}</p>
        </a>
        <a href="{% url 'savings_list' %}" class="card card-light-blue">
            <h3>Total Savings</h3>
            <p>KES {{ total_savings }}</p>
        </a>
    </div>

    <div class="financial-status">
        <h2>Financial Summary</h2>

        <h3>Goal Progress</h3>
        <p>Total Goals Target: KES {{ total_goals_target }}</p>
        <p>Remaining Amount to Reach Goals: KES {{ remaining_goals }}</p>

        {% if is_deficit %}
        <p style="color: red;">You are running a deficit of KES {{ deficit_amount }}</p>
        {% else %}
        <p>Your financial standing is {{ financial_standing }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}
