<!-- templates/goals/goal_list.html -->
{% extends 'base.html' %}

{% block title %}My Goals{% endblock %}

{% block content %}
<h2>My Goals</h2>
<a href="{% url 'goal_create' %}">Create New Goal</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Current Amount</th>
            <th>Target Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for goal in goals %}
        <tr>
            <td><strong>{{ goal.name }}</strong></td>
            <td>{{ goal.current_amount }}</td>
            <td>{{ goal.target_amount }}</td>
            <td><a href="{% url 'goal_edit' goal.id %}">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
