{% extends 'base.html' %}

{% block title %}Investment List{% endblock %}

{% block content %}
  <h2>Investment List</h2>
  <table>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Current Value</th>
      <th>Description</th>
    </tr>
    {% for investment in investments %}
    <tr>
      <td>{{ investment.date }}</td>
      <td>{{ investment.category }}</td>
      <td>{{ investment.amount }}</td>
      <td>{{ investment.current_value }}</td>
      <td>{{ investment.description }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
